<project>
<baud name="baud">
<value>115200</value>	
</baud>
<item name="IMEI" property="RImei">
<cmd>AT^MODIMEI=</cmd>
<prefix>^MODIMEI:</prefix>
<len>16</len>
<vald>true</vald>
<succrep>OK</succrep>
</item>
<item name="SN" property="RSN">
<cmd>AT+BOARDNUM=</cmd>
<prefix></prefix>
<len>16</len>
<vald>true</vald>
<succrep>OK</succrep>
</item>
</project>
